@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: #2C3E50;
  background-color: #F8FAFC; /* Cinza muito claro para destacar o 'celular' */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede rolagem dupla do navegador */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}